@use "variables" as *;
@use "mixins" as *;
.current-weather {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: $text-shadow;
  &__location {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__current-temperature {
    margin: 0.5rem 0;
    font-size: 4.5rem;
    font-weight: 200;
  }

  &__condition {
    margin-bottom: 0.25rem;
  }
}

.today-forecast {
  margin-top: 2rem;
  @include card();

  &__conditions {
    @include cardHeader();
  }

  &__hours {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 0.5rem;
  }

  .hourly-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    &__icon {
      width: 4rem;
    }
  }
}
