* {
    font-family: "Franklin Gothic Medium";
}

h1,
h2,
h3 {
    margin-bottom: 0;
}

.image {
    border: 1px solid #000;
    padding: 8px;
    width: fit-content;
    background-color: #f0f0f0;
    margin-bottom: 16px;
}

img,
p {
    margin: 0;
}
.image-title {
    font-size: 0.9em;
}
