@use "sass:color";

$primary-color: rgb(121, 47, 47);
$primary-bg-color: gray;
$color: color.adjust($primary-color, $lightness: 30%);
$bg-color: yellow;

$margin-tb: 1rem;

@mixin padding($pt: 0rem, $pl: 0rem) {
  padding-top: $pt;
  padding-left: $pl;
}
