/* TODO 4: fontfamily */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* TODO 5: Frage */
.question {
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0, 0.2) 0 0 24px;
  padding: 2rem;
}

.question-title {
  font-size: 3rem;
  text-align: center;
}

.question-answers {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

/* TODO 6 Antwortmöcklchkeiten */

.answer {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 14px;
  height: 5rem;
}

.answer.correct {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 14px;
  background-color: rgba(60, 189, 0);
}

.answer.incorrect {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 14px;
  background-color: rgb(215, 0, 0);
}

button {
  border: none;
  background-color: rgb(214, 213, 213);
  border-radius: 10px;
}

button:hover {
  filter: brightness(90%);
}

/* TODO 7: Footer */

.footer {
  padding-top: 2rem;
}

.footer > button {
  height: 3rem;
  width: 5rem;
}

/* TODO 8:  */
