@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff3030;
  --text-color: #dedede;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #1a1a1a;
  color: #fff;
}

.navbar {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Font size bei item und nicht bei navbar (perant) ist das problem? */
.navbar-item {
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

.navbar-item:hover {
  color: var(--primary-color);
}

.hero {
  /* background-image: url("hero.jpg"); */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 5rem);
}

.hero-title {
  font-family: "Italianno", cursive;
  font-size: 4rem;
  line-height: 3.7rem;
  letter-spacing: 0.2rem;
  font-weight: 900;
  margin: 0;
  text-align: center;
}

.hero-subtitle {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0;
  text-align: center;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  background-color: var(--primary-color);
  padding: 0.8rem 2rem;
  border: var(--primary-color) 1px solid;
  margin-top: 3rem;
  transition: all 0.15s ease-in;
  cursor: pointer;
  width: fit-content;
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
}

/* About  */

.container {
  display: grid;
  max-width: 85%;
  margin: 0 auto;
  gap: 2rem;
}

.heading {
  margin: 1.5rem 0 1rem 0;
  border-bottom: var(--primary-color) 1px solid;
  max-width: fit-content;
  text-transform: uppercase;
}

.about-subtitle {
  color: var(--text-color);
  text-align: start;
}

.about-images {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.about-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first {
  grid-row: 1 / span 2;
}

.second {
  grid-column: 2 / span 1;
}

.info-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../images/info.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.opining-info {
  width: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.opining-time {
  width: 13rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 1.2rem;
}

.day {
  color: var(--text-color);
}

/* Media Query */
@media only screen and (min-width: 600px) {
  .navbar-item {
    font-size: 1.1rem;
  }

  .hero-title {
    font-size: 6rem;
    line-height: 6rem;
  }

  .hero-subtitle {
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  .hero-action {
    padding: 1rem 2.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  /* hier wurde navbar-item mit padding auseinander gezogen und nicht mit gap direkt in der navbar class */
  .navbar-item {
    padding: 0 2rem;
  }

  .hero-title {
    font-size: 8rem;
    line-height: 7rem;
  }

  .hero-subtitle {
    margin-top: 1rem;
  }

  .container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    margin: 5rem auto;
  }

  .heading {
    font-size: 2rem;
  }

  .about-images {
    height: fit-content;
  }

  .info-wrapper {
    padding: 5rem;
  }

  .opining-time {
    width: 17rem;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
