@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

.place-holder {
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff3030;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #1a1a1a;
  color: #fff;
}

.navbar {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar-item {
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  padding: 0 1rem;
  transition: all 0.3s ease-in;
}

.navbar-item:hover {
  color: var(--primary-color);
}

.hero {
  /* background-image: url("hero.jpg"); */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 5rem);
}

.hero-title {
  font-family: "Italianno", cursive;
  font-size: 4rem;
  line-height: 3.7rem;
  letter-spacing: 0.2rem;
  font-weight: 900;
  margin: 0;
  text-align: center;
}

.hero-subtitle {
  color: #dedede;
  font-size: 1rem;
  font-weight: 900;
  margin-top: 0;
  text-align: center;
}

.hero-action {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  background-color: var(--primary-color);
  padding: 0.8rem 2rem;
  border: var(--primary-color) 1px solid;
  margin-top: 3rem;
  transition: all 0.15s ease-in;
  cursor: pointer;
}

.hero-action:hover {
  background-color: transparent;
  color: var(--primary-color);
}

/* Media Query */

@media only screen and (min-width: 600px) {
  .hero-title {
    font-size: 6rem;
    line-height: 6rem;
  }
  .hero-subtitle {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .hero-action {
    padding: 1rem 2.5rem;
  }

  .navbar-item {
    text-transform: uppercase;
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .hero-title {
    font-size: 8rem;
    line-height: 7rem;
  }

  .hero-subtitle {
    margin-top: 1rem;
  }

  .navbar-item {
    padding: 0 2rem;
  }
}
