* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1a1a1a;
  color: #fff;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 3rem;
}
