* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1100px;

    background: aqua;
    padding: 14px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 100px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    z-index: 1000;
}
