* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e52e2e;
  --secondary-color: #333;
  --accent-color: #007bff;
}

body {
  margin: 1rem;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  gap: 2rem;
}

.sidebar {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
}
.add-notes {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.add-notes button {
  background-color: transparent;
  border: none;
}
