* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #a57d31;
  --secondary-color: #333;
  --focus-color: #007bff;
  --text-color: #333;
  --placeholder-color: #ccc;
}

body {
  margin: 1rem;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.7rem;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.main .main-title input {
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  padding: 0.5rem;
  width: 100%;
}

.main .main-title input:focus {
  outline: none;
  border-bottom: 1px solid var(--focus-color);
}

.main .main-text textarea {
  border: none;
  outline: none;
  padding: 0.5rem;
  width: 100%;
  height: 100px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: start;
  align-items: start;
}

.buttons button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.sidebar {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  align-items: stretch;
}

.sidebar .add-notes button {
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.notes-card {
  flex: 0 0 300px;
  margin-top: 0.6rem;
  background-color: var(--primary-color);
  padding: 0.8rem;
  border-radius: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  max-width: 100%;

  cursor: pointer;
}

.notes-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.notes-text {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.4rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.notes-date {
  font-size: 0.8rem;
  color: var(--placeholder-color);
  align-self: flex-end;
}

@media only screen and (min-width: 600px) {
  body {
    margin-top: 1.5rem;
  }
  .container {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 1rem;
    height: calc(100vh - 2rem);
  }

  .buttons button {
    padding: 0.5rem 1.7rem;
    font-size: 1.1rem;
  }

  .sidebar {
    padding-right: 1rem;
    max-width: 400px;
    border-right: 1px solid var(--placeholder-color);
    justify-content: start;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .notes-card {
    margin-top: 0.6rem;
    width: 450px;
  }

  .main .main-text textarea {
    height: 90vh;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1000px) {
  .buttons {
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 1.1rem;
  }

  .buttons button {
    padding: 0.6rem 1.9rem;
    border-radius: 2rem;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .sidebar {
    padding-right: 1rem;
    max-width: 350px;
    border-right: 1px solid var(--placeholder-color);
    justify-content: start;
  }

  .notes-card {
    margin-top: 0.6rem;
  }
}
