@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Scribble&display=swap");

$background: #333;
$elevation: #444;
$text-color: #fff;
$font-text: "Inter", sans-serif;
$primary-color: #04da4b;
$font-display: "Rubik Scribble", cursive;
$danger-color: #f02f2f;

@mixin tablet-and-up {
  @media only screen and (min-width: 600px) {
    @content;
  }
}
