@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: "Inter", sans-serif;
  --primary-color: #ff3030;
  --text-color: #ddd;
}

.nav {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  font-size: 0.8rem;
}

.nav-item,
.footer-item {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: color 0.2s ease-in-out;
}

.nav-item:hover,
.footer-item:hover {
  color: var(--primary-color);
}

.hero {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 3rem;
  font-family: "Lobster", cursive;
}

.subtitle {
  color: var(--text-color);
}

.hero-action {
  margin-top: 4rem;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.button,
.button-inverted {
  width: fit-content;
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid var(--primary-color);
  color: #fff;
  text-decoration: none;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.button-inverted {
  background-color: transparent;
  color: var(--primary-color);
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.button-inverted:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.heading {
  margin: 2rem 0 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid var(--primary-color);
  width: fit-content;
}

.about {
  display: grid;
  gap: 2rem;
}

.about-text {
  font-size: 0.9rem;
  color: var(--text-color);
}

.about-action {
  margin-top: 2rem;
}

.about-images {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  object-fit: cover;
}

.about-image {
  width: 100%;
  height: 100%;
}

.about-image-large {
  min-width: 50%;
}

.about-images-small {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-wrapper {
  margin: 3rem 0;
  padding: 2rem 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/info.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.info .heading {
  margin: 0 auto;
}

.hours-entry {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.days {
  color: var(--text-color);
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact .heading {
  margin-top: 0;
}

.contact-detail {
  margin-top: 0.5rem;
  color: var(--text-color);
}

.contact-actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.contact-actions {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 2rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  background-color: #303030;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-copyright {
  margin-top: 1rem;
  color: var(--text-color);
}

@media only screen and (min-width: 600px) {
  .nav,
  .footer-links {
    gap: 2rem;
    font-size: 1rem;
  }

  .footer {
    margin-top: 4rem;
    padding: 3rem 0;
    gap: 3rem;
  }

  .footer-links {
    flex-direction: row;
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .button,
  .button-inverted {
    padding: 1.2rem 2.5rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .contact-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .contact-image {
    width: 60%;
  }
}

@media only screen and (min-width: 1000px) {
  .nav,
  .footer-links {
    gap: 4rem;
  }

  .footer {
    margin-top: 6rem;
  }

  .title {
    font-size: 6rem;
    line-height: 6.5rem;
  }

  .heading {
    font-size: 2rem;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
    align-items: center;
  }

  .about-images,
  .about-images-small {
    gap: 1rem;
  }

  .info-wrapper {
    margin: 8rem 0;
    padding: 6rem 0;
  }

  .hours {
    margin-top: 2rem;
  }

  .hours-entry {
    width: 20rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .contact .heading {
    margin-bottom: 2rem;
  }

  .contact-detail {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .contact-image {
    width: 50%;
  }

  .contact-actions {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
