* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-color: #000;
}

body {
  background-color: #fefefe;
}

.container {
  margin: 1rem;
  display: flex;
}

.left-side {
  height: calc(fitcontent - 2rem);

  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-right: 1px solid #787777;
}

.input-place {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  padding-right: 1rem;
  color: var(--font-color);
  font-size: 1.3rem;
}

.digits {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0.2rem;
  margin: 0 1rem;
}

.button {
  padding: 1rem 2rem;
  cursor: pointer;
  color: var(--font-color);
  font-size: 1rem;
}

.right-side {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: start;
  margin-top: 1rem;
  padding: 2rem;

  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.right-side::-webkit-scrollbar {
  width: 6px; /* Breite */
}

.right-side::-webkit-scrollbar-track {
  background: #f1f1f1; /* Hintergrund */
  border-radius: 10px;
}

.right-side::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar-Farbe */
  border-radius: 10px;
}

.right-side::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover */
}

.history {
  color: var(--font-color);
  font-size: 1.2rem;
}

@media only screen and (min-width: 600px) {
  .button {
    padding: 2rem 2rem;
  }

  .right-side {
    height: 400px;
  }

  .history {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .button {
    padding: 2rem 3rem;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
    margin: 1rem auto;
  }
}
