/* css display  */
/* div {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    background-color: orange;
} */
/* .hide {
    display: none;
} */

/* css display flex */
.child {
    padding: 10px;
    font-size: 20px;
    background-color: orange;
    width: 100px;
}
.child-1 {
    flex-grow: 1;
}
.child-2 {
    flex-grow: 2;
}

.parent {
    display: flex;
    gap: 10px;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
