@use "../../variables" as *;

.delete-button {
  width: 1.5rem;
  height: 1.5rem;

  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  border-radius: 100%;
  border: solid 1px $danger;
  color: $danger;

  &:hover {
    cursor: pointer;
  }
}
