.parent {
    background-color: red;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    height: 80vh;
}
.child ~ .child {
    background-color: yellow;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s ease;
}

/* pseudo*/

.child {
    filter: blur(4px);
}

.child:hover {
    filter: none;
    transform: scale(1.01);
}

button:hover {
    background-color: green;
}

/* pseudo elemente */

.headline::before {
    content: "";
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
}

input {
    padding: 40px;
    font-size: 20px;
}

input::placeholder {
    color: red;
}

/*pseudo attribute */

[data-number="2"] {
    background-color: red;
}

[data-name^="Ma"] {
    color: red;
}
