* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #b0a8b9;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.lift-side {
  margin-top: 1rem;
  padding: 1rem 1rem 0 0;
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;
  border-right: 1px solid #63408b;
  text-align: right;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

#interim-result {
  font-size: 1.5rem;
}

.buttons {
  padding: 0 0 0 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0.5rem;
}

.btn {
  background-color: #ddd;
  padding: 1.5rem 2rem;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in;
  border-radius: 2rem;
  color: #000;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: #e4e3e363;
  border-radius: 1.3rem;
  border: #e4e3e363;
}

.right-side {
  margin-top: 5rem;
  height: 30rem;
  overflow-y: scroll;
  width: 20rem;
  padding: 0 3rem;
  text-align: end;
}

.list {
  color: #000;
  line-height: 2.5rem;
  font-size: 1.5rem;
}
